<!DOCTYPE html>
<!-- Template by quackit.com -->
<!-- Modified by github.com/tengrrl -->
<html lang="en-US" xml:lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>French Toast Latte</title>
    <link rel="stylesheet" type="text/css" href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/css/main.css">
	</head>

	<body>

		<header>
			<div class="innertube">
        <iframe src="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/header.html" height="86px" frameborder="0">
    			 <a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/header.html">Hmm, you are using a very old browser. Click here to go directly to the site header.</a>
        </iframe>
			</div>
		</header>

		<div id="wrapper">

			<main>
				<div id="content">
					<div class="innertube">
            <!-- *****************************
            Change the main content of the page below.                      *
            ****************************** -->

            <h1 style="color: brown;">French Toast Latte!</h1>
            <style>
            .smaller-image {width: 400px;}
            </style>
            <img class="smaller-image" src="https://c1.staticflickr.com/7/6155/6204808395_f1cfbbbb94_b.jpg" alt="French Toast">
            <p>The French Toast Latte! A perfect blend of thick sweetness. </p>
            <p>Get your recipe here:</p>
            <ul>
              <li>Order a Cinnamon Dolce Latte</li>
              <li>Add White Mocha Sauce</li>
              <li>Ask for Cinnamon Topping on top</li>
              <li>Enjoy!</li>
            </ul>
            <p> If you try it and find that it's too sweet, remember you can ask for half the pumps next time!</p>

					</div>
				</div>
			</main>

			<nav>
				<div class="innertube">
          <iframe src="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/right-menu.html" height="640" frameborder="0">
            <a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/right-menu.html">Hmm, you are using a very old browser. Click here to go directly to the menu.</a>
          </iframe>
				</div>
			</nav>

		</div>

		<footer>
			<div class="innertube">
        <iframe src="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/footer.html" height="45px" width="100%" frameborder="0">
    			<a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/footer.html">Hmm, you are using a very old browser. Click here to go directly to the site footer.</a>
    		</iframe>
			</div>
		</footer>

	</body>
</html>
