<!DOCTYPE html>
<!-- Template by quackit.com -->
<!-- Modified by github.com/tengrrl -->
<html lang="en-US" xml:lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>2 Column Layout</title>
    <link rel="stylesheet" type="text/css" href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/css/main.css">
	</head>

	<body>

		<header>
			<div class="innertube">
        <iframe src="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/header.html" height="86px" frameborder="0">
    			 <a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/header.html">Hmm, you are using a very old browser. Click here to go directly to the site header.</a>
        </iframe>
			</div>
		</header>

		<div id="wrapper">

			<main>
				<div id="content">
					<div class="innertube">
            <!-- *****************************
            Change the main content of the page below.                      *
            ****************************** -->

            <h1 style="color: red;">Fun Facts!</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_loURMz5gn0" frameborder="0" allowfullscreen></iframe>
            <p>Here are all the facts as stated in the video:</p>
            <ul>
              <li>Starbucks was founded in Seattle, Washington 1971</li>
              <li>There are over 87,000 drink combinations</li>
              <li>When Starbucks first opened up for business they had a short size (8oz) and a tall size (12oz). Soon the short became phased out with the introduction of the 16oz. Grande and the 24oz. Venti</li>
              <li>Later Starbucks would also add the 31 oz. Trenta that is only available for iced coffees, iced teas, and refresher beverages
              <li>Trenta, despite meaning 30, holds 31 ounces of liquid, equivalent to 916 ml. The average stomach has a volume of about 1000ml before it starts stretching. Talk about a large drink
              <li>Starbucks is named after the character, Starbuck, in the novel Moby Dick. He was the first mate on board the Pequod, the boat in which they sailed
              <li>What not many know is that Starbucks was almost named Pequod instead
            </ul>

					</div>
				</div>
			</main>

			<nav>
				<div class="innertube">
          <iframe src="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/right-menu.html" height="640" frameborder="0">
            <a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/right-menu.html">Hmm, you are using a very old browser. Click here to go directly to the menu.</a>
          </iframe>
				</div>
			</nav>

		</div>

		<footer>
			<div class="innertube">
        <iframe src="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/footer.html" height="45px" width="100%" frameborder="0">
    			<a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/footer.html">Hmm, you are using a very old browser. Click here to go directly to the site footer.</a>
    		</iframe>
			</div>
		</footer>

	</body>
</html>
