<!DOCTYPE html>
<!-- Template by quackit.com -->
<!-- Modified by github.com/tengrrl -->
<html lang="en-US" xml:lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>2 Column Layout</title>
    <link rel="stylesheet" type="text/css" href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/css/main.css">
	</head>

	<body>

		<header>
			<div class="innertube">
        <iframe src="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/header.html" height="86px" frameborder="0">
    			 <a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/header.html">Hmm, you are using a very old browser. Click here to go directly to the site header.</a>
        </iframe>
			</div>
		</header>

		<div id="wrapper">

			<main>
				<div id="content">
					<div class="innertube">
            <!-- *****************************
            Change the main content of the page below.                      *
            ****************************** -->
            <style>
            .smaller-image {width: 750px;}
            </style>
            <img class="smaller-image" src="https://upload.wikimedia.org/wikipedia/commons/7/77/HK_Starbucks_Coffee_in_Caine_Road.jpg" alt="Starbucks">

            <h1>Everything Starbucks</h1>
            <p>Welcome to everything Starbucks related. For the first timer, starbucks can seem like a daunting place to go. Why do those baristas always have to ask so many questions when all you want is a cup of joe? Well fear no more! This site is designed to help familiarize newcomers as well as give new insightful information to the loyal Starbucks gold member. Here you will find:</p>
            <ul>
              <li>Favorite drinks from Hokies at Virginia Tech</li>
              <li>Fun Facts about Starbucks</li>
              <li>An introduction to Starbucks Secret Menu beverages and how you can order them for yourself!</li>
            </ul>
            <p></p>
            <h1>What's Your Favorite Starbucks Drink?</h1>
            <p>Here's a few people telling you about their favorite Starbucks drinks that you can try.</p>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/296780894&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

            <h1>Betcha Didn't Know...</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_loURMz5gn0" frameborder="0" allowfullscreen></iframe>
            <p>All facts can be found on the Fun Fact page!</p>

            <h1>The (not so) Secret Menu!</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v7Ep10WMDro" frameborder="0" allowfullscreen></iframe>
            <p>For full details on the drinks covered in this video, check out their respective pages!</p>
					</div>
				</div>
			</main>

			<nav>
				<div class="innertube">
          <iframe src="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/right-menu.html" height="640" frameborder="0">
            <a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/right-menu.html">Hmm, you are using a very old browser. Click here to go directly to the menu.</a>
          </iframe>
				</div>
			</nav>

		</div>

		<footer>
			<div class="innertube">
        <iframe src="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/footer.html" height="45px" width="100%" frameborder="0">
    			<a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/footer.html">Hmm, you are using a very old browser. Click here to go directly to the site footer.</a>
    		</iframe>
			</div>
		</footer>

	</body>
</html>
