<link rel="stylesheet" type="text/css" href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/css/main.css">
<!-- *****************************
Change the menu that appears     *
on every page of your site below.*
****************************** -->
<div class="site-menu">
<h3>Menu</h3>
<ul>
  <li ><a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/index.html" target="_parent">Home</a></li>
  <li><a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/funfacts.html" target="_parent">Fun Facts!</a></li>
  <li><a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/oreofrappuccino.html" target="_parent">Oreo Frappuccino!</a></li>
  <li><a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/frenchtoastlatte.html" target="_parent">French Toast Latte!</a></li>
  <li><a href="https://paulj7.github.io/insidestarbucks/PaulJ7.github.io/Cafevibes/Template/navigation/pinkdrink.html" target="_parent">Pink Drink!</a></li>
</ul>
</div>
